/* global.css */

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(-40deg, #000000, #363636);
  color: #ffffff;
  height: 100%;
  line-height: 1.6;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: #f4f4f4;
}

p {
  font-size: 1rem;
  line-height: 1.8;
  color: #dcdcdc;
}

html {
  scroll-behavior: smooth;
}
/* sections.css */

section {
  padding: 60px 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  /* margin: 40px 0;   */
}

h2 {
  font-size: 2.5rem;
  color: #f4f4f4;
}

p {
  font-size: 1.2rem;
  color: #dcdcdc;
}




